</main>
<footer class="footer">
</footer>
<script src="/js/app.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/showInfo.js"></script>
<% if (locals.jsFileUrl) { %>
<script src="<%= jsFileUrl %>"></script>
<% } %>
<script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>

<script type="module" src="/js/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-emoji@0.1.8/dist/quill-emoji.min.js"></script>

</body>

</html>
